<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>
<p>Add a book to the library: <%= Book.create %> </p>

<form class="" action="/books" method="post">
  <label for="book[title]">Title</label>
  <input type="text" name="book[title]" value="">
  <input type="submit" name="commit" value="Submit"
</form>

<%= form_tag('/books') do %>
  <%= label_tag "book[name]", "Name" %>
  <%= text_field_tag "book[name]" %>
  <%= submit_tag %>
<% end %>
